



	#canvas {
			position: relative;
			top: 0px;
			left: 2%;
			width: 96%;
			height: 100%;
			padding: 0px;
			margin: 0px;
			background-color: #c9c9c9;	
	}
	
	#maincanvas {
			position: relative;
			display: block;
			top: 0px;
			width: 100%;
			height: 100%;
			background-color: #fff;	
			border: 0px;
			margin-bottom: 0px;
			
	}
	

	a.job:link {text-decoration: none; color: #000;}
	a.job:visited {text-decoration: none; color: #000;}
	a.job:active {text-decoration: none; color: #000;}
	a.job:hover {text-decoration: none; color: #000;}
	

	
	.jobcontainer {
		position:absolute;
		height: 20px;
		border: 1px solid #000;
		background-color: #fffbdb;	
		font-family: arial, sans-serif;
        font-size: 12px; 
		font-weight: normal;
		overflow: hidden;   
        white-space: nowrap;
        cursor:pointer;        
	}
	.jobbar {
		position:absolute;
		height: 3px;
		padding-top: 2px;
		padding-bottom: 3px;
		color: #000;
		text-align: center;
		font-size: 12px; 
		left: -1px;
		top: 17px;
		width: 100%;
		border: 1px solid #000;
		background-color: #00FF00; 
        overflow: hidden;
        white-space: nowrap;
	}
	
	.jobname {
		padding-top: 2px;
		padding-left: 3px;
	}
		
	.box {
		color: #000;
		text-align: center;	
	}
	
	.box p {
		text-decoration: none;
		padding-left: 10%;
		width: 80%;
		cursor: pointer;
	}
	.boxmonitor {
		text-align: center;	
		cursor: pointer;
	}
	.boxmonitor img{
		width: 270px;
	}
	
	.boxname {
		font-size: 15px; 
	}
	
	.dayline {
		position:absolute;	
		top: 0%;
		height: 100%;
		width: 1px;	
		background-color: #707070;
	}
	.daylineend {
		position:absolute;	
		top: 0%;
		height: 100%;
		width: 1px;	
		background-color: #707070;
	}
	.daylabel {
		position:absolute;	
		text-align: center;
		width: 20%;
		top: 100%;
		margin-top: 10px;
		color: #8c8c8c;
		background-color: #FFF;
	}
	.daylabeltoday {
		position:absolute;	
		text-align: center;
		width: 20%;
		top: 100%;
		margin-top: 5px;
		background-color: #FFF;
	}
	
	#now {
		position:absolute;	
		top: 0%;
		height: 100%;
		width: 2px;	
		background-color: #000;
	}
	#nowtop {
		position:absolute;	
		top: -10px;
		height: 10px;
		width: 2px;	
		background-color: #000;
	}
	#nowbottom {
		position:absolute;	
		top: 100%;
		height: 10px;
		width: 2px;	
		background-color: #000;
	}
	#nowlabel {
		position:absolute;
		text-align: center;
		font-weight: bold;   
		top: -30px;
		width: 20%;	
		color: #000;
		background-color: #FFF;
		white-space: nowrap;	
	}
	
	


	
	img.canvasright {	position:absolute; left: 100%;border:0px;}
	img.canvasleft { position:absolute; right: 100%;border:0px;}


	.bl {background: url(bl.gif) 0 100% no-repeat}
	.br {background: url(br.gif) 100% 100% no-repeat}
	.tl {background: url(tl.gif) 0 0 no-repeat}
	.tr {background: url(tr.gif) 100% 0 no-repeat; padding:10px} 


