#footer {;
    padding: 10px 15px 0;
}

@media screen and (max-width: 600px) {
	.window_body form label.canhidelabel {
		display: none;
	}
	
	.contactmanagersplash img {
		display: none;
	}
	.window_body form {
		float:inherit;
	}
	

	
	.language {
		position: relative; 
  		right: 0px;
    	top: 0px;
	}
	
	.language.languagebottom{
		position: relative; 
  		right: -10px;
    	top: 22px;
	}
	
	h3 {
    	margin: 6px 0 10px;
	}

	.window_body_wrap {
		width: 90%;
		padding: 0 5% 0 5%;
	}
	.window_body {
		width: 90%;
		padding: 0 5% 0 5%;
	}

}
@media screen and (min-width: 600px) {
	.contactmanagersplash img{
		display: block;
	}
	.window_body form {
		float:right;
	}
}