<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>AutoMessenger: Welcome School Messenger</title>

	<link href="reset.css" type="text/css" rel="stylesheet" media="screen, print" />
	<link href="style.css" type="text/css" rel="stylesheet" media="screen, print" />
	
	<!--[if gte IE 9]>
	  <style type="text/css">
	    .gradient {
	       filter: none;
	    }
	  </style>
	<![endif]-->

</head>
<body> 
	<script>
		var _brandtheme = "calmsky";
	</script>

<!-- ********************************************************************* -->

<div class="banner cf"> 
	
	<h1>School Messenger Documentation</h1>
	
	<ul class="banner_links cf">
			<li><a href="#navigation">Navigation</a></li>		
			<li><a href="#buttons">Buttons</a></li>
			<li><a href="#tables">Tables</a></li>
			<li><a href="#forms">Forms</a></li>
			<li><a href="#jobs-messages">Jobs &amp; Messages</a></li>
			<li><a href="#progress-bar">Progress Bar</a></li>
	</ul>
	
</div> <!-- banner -->


<div class="wrapper">
		
<div class="window">
<p>This is selection of basic patterns and common markup used throughout the site. If the markup is kept consistent it will be much easier to style and target later. All styles on here are just as an example only.</p>
</div>

			
<div id="navigation" class="window">
<h3>Navigation set up</h3>
<p>The navigation is best set up in unordered lists, below is a standard navigation bar used across all themes:</p>
				
<ul class="navtabs cf">
	<li><a onfocus="blur()" href="start.php">Start</a></li>
	<li><a onfocus="blur()" href="lists.php">Notifications</a></li>
	<li><a onfocus="blur()" href="reports.php">Reports</a></li>
	<li><a onfocus="blur()" href="activejobs.php">System</a></li>
	<li><a onfocus="blur()" href="users.php">Admin</a></li>
</ul>

<p>And here is the html code and css used to build it</p>
				
<div class="cf">
<textarea class="code left">
/*---------- NAVIGATION CODE ----------*/
<ul class="navtabs cf">
	<li><a href="start.php">Start</a></li>
	<li><a href="lists.php">Notifications</a></li>
	<li><a href="reports.php">Reports</a></li>
	<li><a href="activejobs.php">System</a></li>
	<li><a href="users.php">Admin</a></li>
</ul>
</textarea>

<textarea class="style right">
/*---------- NAVIGATION STYLES ----------*/
.navtabs { 
	background: #f5b75e; 
	margin: 0 0 5px 0; 
		}
.navtabs li { 
	float: left; 
	display: inline; 
	width: 20%; 
		}
.navtabs a { 
	display: block; 
	padding: 11px 0; 
	text-align: center; 
	color: #fff; 
		}
.navtabs a:hover, 
.navtabs a:active, 
.navtabs .navtab_active a { background: rgba(255,255,255,0.2); }
</textarea>
</div>
</div><!-- end window -->
			

<div id="buttons" class="window">
<h3>Big shiny buttons</h3>
<p>To create the nice new shiny Notification button below, as used on the Newui theme.</p>
<p><a class="newjob" href="#buttons">New Notification</a></p>				
<p>You would use the html and css as follows</p>

<div class="cf">
<textarea class="code left">
/*---------- JOB BUTTONS CODE ----------*/
<a class="newjob" href="#">New Notification</a>
</textarea>
			
<textarea class="style right">
/*---------- JOB BUTTONS STYLES ----------*/
a.newjob { 
	padding: 5px 10px 3px 10px; 
	color: #fff; 
	font-size: 16px; 
	font-weight: bold; 
	text-shadow: 0 1px 0 #333; 
	border: 1px solid #a9320d; 
	text-decoration: none;
	background-color: #D8481A;  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E84F1F), to(#C03D14)); 
  background-image: -webkit-linear-gradient(top, #E84F1F, #C03D14); 
  background-image: -moz-linear-gradient(top, #E84F1F, #C03D14); 
  background-image: -ms-linear-gradient(top, #E84F1F, #C03D14); 
  background-image: -o-linear-gradient(top, #E84F1F, #C03D14); 
  background-image: linear-gradient(top, #E84F1F, #C03D14);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.3); 
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.3); 
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.3); 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box; 
		}

a.newjob:before { 
	content: url(../themes/newui/cross.png); 
	margin: 0 5px 0 0; 
	vertical-align: middle; 
		}
  
a.newjob:hover { 
	background-color: #E84F1F;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(255,255,255,0.7), inset 0px 15px 0px 0px rgba(255,255,255,0.1); 
	-moz-box-shadow: 0px 0px 3px 0px rgba(255,255,255,0.7), inset 0px 15px 0px 0px rgba(255,255,255,0.1); 
	box-shadow: 0px 0px 3px 0px rgba(255,255,255,0.7), inset 0px 15px 0px 0px rgba(255,255,255,0.1);
		}

a.newjob:active { background-color: #E84F1F;  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C03D14), to(#a9320d)); 
  background-image: -webkit-linear-gradient(top, #C03D14, #a9320d); 
  background-image: -moz-linear-gradient(top, #C03D14, #a9320d); 
  background-image: -ms-linear-gradient(top, #C03D14, #a9320d); 
  background-image: -o-linear-gradient(top, #C03D14, #a9320d); 
  background-image: linear-gradient(top, #C03D14, #a9320d);
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5); 
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5); 
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
		}
</textarea>
</div>
</div><!-- end window -->
			

<div id="tables" class="window">
<h3>Using a table</h3>
<p>Tables can be used but use for data that is tabular and suits the content.</p>

<table width="100%" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
		<th>Table head 1</th>
		<th>Table head 2</th>
		<th>Table head 3</th>
		<th>Table head 4</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td>Column 1 data</td>
		<td>Column 2 data</td>
		<td>Column 3 data</td>
		<td>Column 4 data</td>
		</tr>
		<tr>
		<td>Column 5 data</td>
		<td>Column 6 data</td>
		<td>Column 7 data</td>
		<td>Column 8 data</td>
		</tr>
		<tr>
		<td>Column 9 data</td>
		<td>Column 10 data</td>
		<td>Column 11 data</td>
		<td>Column 12 data</td>
		</tr>
		<tr>
		<td>Column 13 data</td>
		<td>Column 14 data</td>
		<td>Column 15 data</td>
		<td>Column 16 data</td>
		</tr>
	</tbody>
</table>
				
<p>The code and css for the table, simple pseudo classes can be used on table rows to give a zebra striped effect for easier reading on larger tables. A hover effect can also be added to any table row you are trying to focus on.</p>
<div class="cf">
<textarea class="code left">
/*---------- TABLE CODE ----------*/
<table width="100%" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
		<th>Table head 1</th>
		<th>Table head 2</th>
		<th>Table head 3</th>
		<th>Table head 4</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td>Column 1 data</td>
		<td>Column 2 data</td>
		<td>Column 3 data</td>
		<td>Column 4 data</td>
		</tr>
		<tr>
		<td>Column 5 data</td>
		<td>Column 6 data</td>
		<td>Column 7 data</td>
		<td>Column 8 data</td>
		</tr>
		<tr>
		<td>Column 9 data</td>
		<td>Column 10 data</td>
		<td>Column 11 data</td>
		<td>Column 12 data</td>
		</tr>
		<tr>
		<td>Column 13 data</td>
		<td>Column 14 data</td>
		<td>Column 15 data</td>
		<td>Column 16 data</td>
		</tr>
	</tbody>
</table>
</textarea>

<textarea class="style right">
/*---------- TABLE STYLES ----------*/
table { 
	background: #fff; 
	margin: 0 0 5px 0; 
	border-top: 1px solid #ccc; 
	border-left: 1px solid #ccc; 
		}
table thead { 
	background: #bbb; 
		}
table th { 
	font-weight: bold; 
		}
table th, table td { 
	border-bottom: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	padding: 3px 5px; 
	text-align: left; 
		}
table tbody tr:nth-of-type(even) { 
	background: #f9f9f9; 
		}
table tbody tr:hover { 
	background: #eee; 
		}
</textarea>
</div>
</div><!-- end window -->


<div id="forms" class="window">
<h3>Tidy Forms</h3>
<p>Simple set up for any form across the site. All input fields need a label linked to them, fieldsets can be used to group elements together and a legend can be used within the fieldset if they need titled. Styles can be varied to adjust layout if standard layout is used, styles here are just a basic guideline.</p>
<form>
<fieldset>
<legend>Basic Information</legend>
<label for="form_name">Name label:</label>
<input name="name" id="form_name" type="text"/>

<label for="form_phone">Phone label:</label>
<input name="phone" id="form_phone" type="text"/>

<label for="form_email">Email label:</label>
<input name="email" id="form_email" type="text"/>
</fieldset>

<fieldset>
<legend>Some optional information</legend>
<ul>
<li><label for="form_radio_one">Radio one:</label><input name="set1" id="form_radio_one" type="radio"/></li>

<li><label for="form_radio_two">Radio two:</label><input name="set1" id="form_radio_two" type="radio"/></li>
</ul>

<ul>
<li><label for="form_checkbox_one">Checkbox one:</label><input name="set2" id="form_checkbox_one" type="checkbox"/></li>

<li><label for="form_checkbox_two">Checkbox two:</label><input name="set2" id="form_checkbox_two" type="checkbox"/></li>
</ul>
</fieldset>

<fieldset>
<label for="form_select">Select label:</label>
<select name="select" id="form_select">
<option value="one">Option one</option>
<option value="two">Option two</option>
<option value="three">Option three</option>
<option value="four">Option four</option>
</select>
</fieldset>

<fieldset>
<input type="submit" value="Submit" />
</fieldset>
</form>

<div class="cf">
<textarea class="code left">
/*---------- FORM CODE ----------*/
<form>
<fieldset>
<legend>Basic Information</legend>
<label for="form_name">Name label:</label>
<input name="name" id="form_name" type="text"/>

<label for="form_phone">Phone label:</label>
<input name="phone" id="form_phone" type="text"/>

<label for="form_email">Email label:</label>
<input name="email" id="form_email" type="text"/>
</fieldset>

<fieldset>
<legend>Some optional information</legend>
<ul>
<li><label for="form_radio_one">Radio one:</label><input name="set1" id="form_radio_one" type="radio"/></li>

<li><label for="form_radio_two">Radio two:</label><input name="set1" id="form_radio_two" type="radio"/></li>
</ul>

<ul>
<li><label for="form_checkbox_one">Checkbox one:</label><input name="set2" id="form_checkbox_one" type="checkbox"/></li>

<li><label for="form_checkbox_two">Checkbox two:</label><input name="set2" id="form_checkbox_two" type="checkbox"/></li>
</ul>
</fieldset>

<fieldset>
<label for="form_select">Select label:</label>
<select name="select" id="form_select">
<option value="one">Option one</option>
<option value="two">Option two</option>
<option value="three">Option three</option>
<option value="four">Option four</option>
</select>
</fieldset>

<fieldset>
<input type="submit" value="Submit" />
</fieldset>
</form>
</textarea>

<textarea class="style right">
/*---------- FORM STYLES ----------*/
form legend { 
	font-weight: bold; 
		}
form fieldset { 
	width: 320px; 
	margin: 0 0 5px 0; 
		}
form label, form input { 
	float: left; 
	display: inline; 
	margin: 0 0 5px 0; 
		}
form label { 
	width: 105px; 
	text-align: right; 
	margin: 0 8px 0 0; 
		}
form input[type="text"], form select { 
	width: 200px; 
		}
form input[type="submit"] { 
	float: right; 
		}
form ul li input { 
	float: none; 
		}
</textarea>
</div>
</div><!-- end window -->


<div id="jobs-messages" class="window">
<h3>Jobs &amp; Messages</h3>
<p>This could be how the lastest jobs and messages could be shown and built on the front page.</p>
<div class="contain">
<ul>
<li class="activity_row">
<a href="gotojob.html"><img class="activity_icon" src="../img/largeicons/folderandfiles.jpg" alt="job icon"/></a>
<h4><a href="gotojob.html">Job Title</a></h4>
<p>Some job info goes in here about what it is&hellip;</p>
<p>Job saved <small> Mar 03, 2012 9.25am</small></p>
<span>
<a href="edit"><img src="../img/icons/pencil.png" alt="edit"/></a>
<a href="copy"><img src="../img/icons/page_copy.png" alt="copy"/></a>
<a href="del"><img src="../img/icons/stop.png" alt="copy"/></a>
</span>
</li>

<li class="activity_row">
<a href="gotomessage.html"><img class="activity_icon" src="../img/largeicons/letter.jpg" alt="message icon"/></a>
<h4><a href="gotomessage.html">Message Title</a></h4>
<p>Sent to <strong>Contact List</strong> Received: <strong>150</strong> Bounced: <strong>39</strong></p>
<p>Message sent <small> Feb 27, 2012 3.40pm</small></p>
<span>
<a href="edit"><img src="../img/icons/pencil.png" alt="edit"/></a>
<a href="copy"><img src="../img/icons/page_copy.png" alt="copy"/></a>
<a href="del"><img src="../img/icons/stop.png" alt="copy"/></a>
</span>
</li>

<li class="activity_row">
<a href="gotosurvey.html"><img class="activity_icon" src="../img/largeicons/checklist.jpg" alt="survey icon"/></a>
<h4><a href="gotosurvey.html">Survey Title</a></h4>
<p>Sent to <strong>Contact List</strong> Received: <strong>150</strong> Bounced: <strong>39</strong></p>
<p>Survey sent <small> Feb 13, 2012 8:30am</small></p>
<span>
<a href="copy"><img src="../img/icons/page_copy.png" alt="copy"/></a>
</span>
</li>

<li class="activity_row">
<a href="gotocontact.html"><img class="activity_icon" src="../img/largeicons/addrbook.jpg" alt="contact icon"/></a>
<h4><a href="gotocontact.html">Contact List Title</a></h4>
<p>No. of contacts: <strong>189</strong></p>
<p>Contact list saved <small> Feb 11, 2012 2:15am</small></p>
<span>
<a href="edit"><img src="../img/icons/pencil.png" alt="edit"/></a>
<a href="copy"><img src="../img/icons/page_copy.png" alt="copy"/></a>
<a href="del"><img src="../img/icons/stop.png" alt="copy"/></a>
</span>
</li>
</ul>
</div>

<div class="cf">
<textarea class="code left">
/*---------- EXAMPLE CODE ----------*/
<div class="contain">
<ul>
<li class="activity_row">
<a href="gotojob.html"><img class="activity_icon" src="../img/largeicons/folderandfiles.jpg" alt="job icon"/></a>
<h4><a href="gotojob.html">Job Title</a></h4>
<p>Some job info goes in here about what it is&hellip;</p>
<p>Job saved <small> Mar 03, 2012 9.25am</small></p>
<span>
<a href="edit"><img src="../img/icons/pencil.png" alt="edit"/></a>
<a href="copy"><img src="../img/icons/page_copy.png" alt="copy"/></a>
<a href="del"><img src="../img/icons/stop.png" alt="copy"/></a>
</span>
</li>

<li class="activity_row">
<a href="gotomessage.html"><img class="activity_icon" src="../img/largeicons/letter.jpg" alt="message icon"/></a>
<h4><a href="gotomessage.html">Message Title</a></h4>
<p>Sent to <strong>Contact List</strong> Received: <strong>150</strong> Bounced: <strong>39</strong></p>
<p>Message sent <small> Feb 27, 2012 3.40pm</small></p>
<span>
<a href="edit"><img src="../img/icons/pencil.png" alt="edit"/></a>
<a href="copy"><img src="../img/icons/page_copy.png" alt="copy"/></a>
<a href="del"><img src="../img/icons/stop.png" alt="copy"/></a>
</span>
</li>

<li class="activity_row">
<a href="gotosurvey.html"><img class="activity_icon" src="../img/largeicons/checklist.jpg" alt="survey icon"/></a>
<h4><a href="gotosurvey.html">Survey Title</a></h4>
<p>Sent to <strong>Contact List</strong> Received: <strong>150</strong> Bounced: <strong>39</strong></p>
<p>Survey sent <small> Feb 13, 2012 8:30am</small></p>
<span>
<a href="copy"><img src="../img/icons/page_copy.png" alt="copy"/></a>
</span>
</li>

<li class="activity_row">
<a href="gotocontact.html"><img class="activity_icon" src="../img/largeicons/addrbook.jpg" alt="contact icon"/></a>
<h4><a href="gotocontact.html">Contact List Title</a></h4>
<p>No. of contacts: <strong>189</strong></p>
<p>Contact list saved <small> Feb 11, 2012 2:15am</small></p>
<span>
<a href="edit"><img src="../img/icons/pencil.png" alt="edit"/></a>
<a href="copy"><img src="../img/icons/page_copy.png" alt="copy"/></a>
<a href="del"><img src="../img/icons/stop.png" alt="copy"/></a>
</span>
</li>
</ul>
</div>
</textarea>

<textarea class="style right">
/*---------- EXAMPLE STYLES ----------*/
.contain { 
	margin: 0 0 5px 0; 
	border: 1px solid #ccc; 
		}
.activity_row { 
	position: relative; 
	background: #f9f9f9; 
	padding: 10px; 
		}
.activity_row:nth-of-type(even) { 
	background: #e9e9e9; 
	padding: 10px; 
		}
.activity_icon { 
	float: left; 
	display: inline; 
	margin: 0 10px 10px 0; 
		}
.activity_row strong { 
	color: #333; 
	font-weight: bold; 
		}
.activity_row small { 
	font-size: 12px; 
	color: #666; 
		}
.activity_row span { 
	position: absolute; 
	top: 10px; 
	right: 10px; 
		}
</textarea>
</div>
</div><!-- end window -->


<div id="progress-bar" class="window">
<h3>Progress bar</h3>
<p>An example of a progress style bar that could be used when sending out messages and surveys. Note this uses an inline style to effect it's width, this would be controlled by a script that could give it the correct width.</p>
<div class="progress">
<p><span style="width: 85%;">85%</span> <b>Sending Message</b></p>
</div>

<div class="cf">
<textarea class="code left">
/*---------- NAVIGATION CODE ----------*/
<div class="progress">
<p><span style="width: 85%;">85%</span> <b>Sending Message</b></p>
</div>
</textarea>

<textarea class="style right">
/*---------- EXAMPLE STYLES ----------*/
.progress { 
	position: relative;
	margin: 0 0 5px; 
	border: 1px solid #444; 
		}
.progress p { 
	position: relative; 
	padding: 0; z-index: 99; 
		}
.progress span { 
	position: absolute; 
	top: 0; 
	left: 0; 
	background: #faad62; 
	display: block; 
	height: 100%; 
	text-indent: -9999px; 
	z-index: 1; 
		}
</textarea>
</div>
</div><!-- end window -->
			
		
</div><!-- end wrapper -->	

<div id="footer" class="cf">

<div id="termsinfo">
Service &amp; Support:&nbsp;<a href="mailto:simon@aw20.co.uk">simon@aw20.co.uk</a>
</div>

</div><!-- end footer -->

</body>
</html>
