# Mac-specific files
Thumbs.db
.DS_Store


air2webstub.php
build.txt
dist/

node_modules

# IDE project files
.idea
*.iml
/nbproject/

# Files created during deployment
*.ini.php
bootstrap/bootstrap
css/css
img/img
inc/inc
manager/Thrift
manager/css
manager/img
manager/media
manager/script
manager/themes
media/media
messagelink/bootstrap
messagelink/inc
messagelink/media
messagelink/privacy.html
messagelink/script
messagelink/terms.html
messagesender/
page/img
parentportal/Thrift
parentportal/css
parentportal/img
parentportal/media
parentportal/script
parentportal/themes
quicktipsettings
script/script
subscriber/Thrift
subscriber/css
subscriber/img
subscriber/media
subscriber/script
subscriber/themes
themes/themes
