.spellcheck-suggestbox {
	position: absolute;
	display: none;
	z-index: 9999;
	overflow: none;
	padding: 0px 9px 9px 0px;
	font: normal 13px arial;
}
.spellcheck-suggestbox em {
	border-top: 1px solid #ccc;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding: 3px 6px 3px 6px;
	display: block;
	margin: 0px;
	text-decoration: none;
	color: #333;
	font-style: italic;
}
.spellcheck-suggestbox a, .spellcheck-suggestbox a:visited {
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding: 3px 6px 3px 6px;
	display: block;
	margin: 0px;
	text-decoration: none;
	color: #333;
	outline: none;
}
.spellcheck-suggestbox a.first, .spellcheck-suggestbox a.first:visited {
	border-top: 1px solid #ccc;
}
.spellcheck-suggestbox a:hover {
	color: #000;
	background: #ddd;
}
.spellcheck-suggestbox-words {
	background: #fff;
}
.spellcheck-suggestbox-foot {
	border-top: 1px solid #ddd;
	background: #fff;
}
.spellcheck-suggestbox-foot a, .spellcheck-suggestbox-foot a:visited {
	outline: none;
} 
.pellcheck-focus-helper {
	position: absolute;
	top: -2000px;
	z-index: 0;
}
.spellcheck-word-highlight { background: #e9e9e9; display: inline-block; padding: 5px 8px; color: #ed1c24; text-shadow: 0 1px 0 #fff; cursor: pointer; border: 1px solid #dadada;
-webkit-box-shadow: 0 1px 1px 0 #fff, inset 0 1px 1px 0 #fff; box-shadow: 0 1px 1px 0 #fff, inset 0 1px 1px 0 #fff; -webkit-border-radius: 5px; border-radius: 5px; }
.spellcheck-word-highlight:hover { background: #dedede; }
.spellcheck-badwords { width: 96%; font-size: 14px; padding: 5px 0 0; }
.spellcheck-sep { display: none; padding-right: 0.5em; }
.spellcheck-sep-last { display: none; }