<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation='http://plugin.powerschool.pearson.com plugin.xsd'
          name="SchoolMessengerGuardianContactManager"
          version="1.0"
          description="Gurdian Contact Manager plugin for SchoolMessenger application">


     <oauth></oauth>

     <publisher name="Reliance Communications Inc.">
          <contact email="support@schoolmessenger.com" />
     </publisher> 
 
</plugin>