A { 
   font-family:"Lucida Grande" , Verdana, Arial, Helvetica, sans-serif; 
   color:#365F8D; 
   font-size:10pt; 
   text-decoration:underline;  }
a:hover { 
         font-family:"Lucida Grande" , Verdana, Arial, Helvetica, sans-serif; 
         color:#4274aa; 
         font-size:10pt; 
         text-decoration:underline;  }
body { 
      font-family:"Lucida Grande" , Verdana, Arial, Helvetica, sans-serif; 
      color:#595959; 
      background:#f0f0f0; 
      text-align:left; 
      font-size:10pt; 
      background-color:#ffffff;  }
a:link { 
        color:#365F8D; 
        font-size:10pt; 
        text-decoration:underline;  }
a:visited { 
           color:#365F8D; 
           font-size:10pt; 
           text-decoration:underline;  }
#mainscreen { 
             width:100%; 
             border:1px solid #c0c0c0; 
             text-align:left; 
             background:#365F8D;  }
td { 
    font-size:10pt; 
    font-family:"Lucida Grande" , Verdana, Arial, Helvetica, sans-serif;  }
object id="RelatedTopics"  { 
                            font-size:small; 
                            font-family:"Lucida Grande" , Verdana, Arial, Helvetica, sans-serif; 
                            color:#365F8D; 
                            text-decoration:underline;  }
A.popupspot {  }
H1 { 
    font-size:18pt;  }
LI.H1 { 
       font-size:18pt;  }
P { 
   margin-left:40px;  }
LI.P {  }
