/*Created with Adobe RoboHelp 11.*/
SPAN.maincontent {
	font-size: 10pt;
	font-family: Helvetica, "Arial sans-serif";
}
a:link {
	font-family: Helvetica, "Arial sans-serif";
	color: #336799;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
}
a:visited {
	font-family: Helvetica, "Arial sans-serif";
	color: #C73B0F;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
	font-family: Helvetica, "Arial sans-serif";
	color: #208fff;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
}
a:active {
	font-family: Helvetica, "Arial sans-serif";
	color: #1A3D5E;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
}
SPAN.glosstext {
	font-size: 10pt;
	font-family: Helvetica, "Arial sans-serif";
}
SPAN.expandtext {
	font-size: 10pt;
	font-family: Helvetica;
}
BODY {
	font-family: Helvetica, "Arial sans-serif";
	font-size: 10pt;
	color: #585858;
}
OL,
UL {
	font-size: 10pt;
	font-family: Helvetica, "Arial sans-serif";
}
P {
	font-size: 10pt;
	color: #000000;
}
p.important {
	font-size: 10pt;
	color: #386C9C;
	font-style: italic;
}
LI.p {
	font-size: 10pt;
}
H1 {
	font-size: 16pt;
	color: #386C9C;
}
H4 {
	font-size: 12pt;
	color: #469EB9;
}
H3 {
	font-size: 11pt;
	color: #316597;
}
LI.h1 {
	font-size: 15pt;
}
} LI.h4 {
	font-weight: bold;
}
rh-list.ArticleSection {
	x-lvl-1-type: upper-roman;
	x-lvl-1-format: "Article <x>.";
	x-lvl-2-type: decimal;
	x-lvl-2-format: "Section <1>.<x>";
	x-lvl-2-pfx-class: rls-2-ArticleSection;
	x-lvl-1-pfx-class: rls-1-ArticleSection;
	x-lvl-3-margin: 40px;
	x-lvl-4-margin: 60px;
	x-level-count: 5;
	x-lvl-5-margin: 80px;
}
span.rls-2-ArticleSection {
	color: #000080;
	font-size: 12pt;
}
span.rls-1-ArticleSection {
	font-size: 18pt;
}
