/*Created with Adobe RoboHelp 9.*/
SPAN.maincontent {
	font-size: 10pt;
	font-family: helvetica, Arial sans-serif;
}

a:link {
	font-family: helvetica, Arial sans-serif;
	color: #336799;
	font-size: 10pt;
	text-decoration:underline;
	font-weight: bold;
}
a:visited {
	font-family: helvetica, Arial sans-serif;
	color: #C73B0F;
	font-size: 10pt;
	text-decoration:underline;
	font-weight: bold;
}
a:hover {
	font-family: helvetica, Arial sans-serif;
	color: #208fff;
	font-size: 10pt;
	font-weight: bold;
	text-decoration:underline;

}
a:active {
	font-family: helvetica, Arial sans-serif;
	color: #1A3D5E;
	font-size: 10pt;
	font-weight: bold;
	text-decoration:underline;

}

SPAN.glosstext {
	font-size: 10pt;
	font-family: helvetica, Arial sans-serif;
}
SPAN.expandtext {
	font-size: 10pt;
	font-family: helvetica, Arial sans-serif;
}
BODY {
	font-family: helvetica, Arial sans-serif;
	font-size: 10pt;
	color: #585858;
}
OL,
UL {
	font-size: 10pt;
	font-family: helvetica, Arial sans-serif;
}
P {
	font-size: 10pt;
	color: #000000;
}

p.important {
	font-size: 10pt;
	color: #386C9C;
	font-style: italic;

}

LI.p {
	font-size: 10pt;
}
H1 {
	font-size: 16pt;
	color: #386C9C;
}
H4{
	font-size: 12pt;
	color: #469EB9;
}
H3{
	font-size: 11pt;
	color: #316597;
}
LI.h1 {
	font-size: 15pt;
}

}
LI.h4 {
	font-weight: bold;
}
