<div class="editableBlock">
	Sign Up InfoCenter today to control your calling preferences! Simply follow this link, click the link to sign up or download the mobile app for your particular device and follow the prompts from there. Once you are signed in, you will be able to set your contact preferences for each of your phone numbers and email addresses to custom tailor your communication experience with us.<br/>
	<br/>
	<a href="https://infocenter.schoolmessenger.com/">InfoCenter</a><br/>
	<br/>
</div>
