<table width="100%" bgcolor="#E6E6E6" data-sm-i="Background Color" data-sm-a="bgcolor" >
    <center>
        <tbody>
        <tr>
            <td align="center">
                <br />
                <table width="90%" cellpadding="0" cellspacing="0" border=0  bgcolor="#FFFFFF" data-sm-i="Message Background Color" data-sm-a="bgcolor">
                    <tr>
                        <td >
                            <table width="100%" cellpadding="20px" border=0 style="border-style:solid;border-width:4px;border-color:#9Db5D9; font-family:arial, helvetica, sans-serif;" data-sm-i="Border" data-sm-s="border-color">
                                <tbody>
                                <tr>
                                    <td valign="bottom" align="right">
                                        <div class="editableBlock" style="font-size: 22px;color:#1D4074;padding-bottom:0px;" data-sm-i="Font - Title" data-sm-s="color">
                                            <h1 style="padding-bottom:5px; margin:0px;">
                                                Message Title
                                            </h1>
                                        </div>
                                        <hr width="100%" border=0 style="border:none; background-color:#87A8D9; height: 3px; padding:0px;margin:0px;" data-sm-i="Line Color" data-sm-s="background-color"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="editableBlock" style="font-size: 15px;line-height:120%;color:#597DB3;" data-sm-i="Font - Headlines" data-sm-s="color">
                                            <h2>
                                                Important text
                                            </h2>
                                        </div>
                                        <div class="editableBlock" style="font-size: 15px;line-height:130%;color:#535353;" data-sm-i="Font - Main" data-sm-s="color">
                                            <p>
                                                This section is for the introduction to your newsletter.
                                                <br/><br/>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Proin ut felis est. Aliquam erat volutpat. Vestibulum a enim
                                                ut tellus ultricies molestie. Duis egestas quam nec arcu
                                                blandit vehicula nec mattis sem.Lorem ipsum dolor sit
                                                amet, consectetur adipiscing elit. Proin ut felis est. Aliquam
                                                erat volutpat. Vestibulum a enim ut tellus ultricies molestie.
                                                Duis egestas quam nec arcu blandit vehicula nec mattis
                                                sem. Lorem ipsum dolor sit amet, consectetur.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table width="99%" cellpadding="5" cellspacing="8" border="0">
                                            <tbody>
                                            <!-- Columns -->
                                            <tr align="left">
                                                <td style="padding-left:15px;padding-right:15px;border-right-style:dotted;border-color:#AAAAAA;border-width:1px;">
                                                    <img  src="https://s3.amazonaws.com/layoutImages/example-135x115.png" width="135" height="115" alt="">
                                                    <br />
                                                    <div class="editableBlock" style="font-size: 15px;line-height:120%;color:#597DB3;" data-sm-i="Font - Headlines" data-sm-s="color">
                                                        <h2>
                                                            News Item
                                                        </h2>
                                                    </div>
                                                    <div class="editableBlock" style="font-size: 15px;color:#535353;font-family: arial, helvetica, sans-serif;" data-sm-i="Font - Main" data-sm-s="color">
                                                        <p>
                                                            This section is great for your news story.
                                                            <br/><br/>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Proin ut felis est. Aliquam erat volutpat. Vestibulum a enim
                                                            ut tellus ultricies molestie. Duis egestas quam nec arcu
                                                            blandit vehicula nec mattis sem.Lorem ipsum dolor sit
                                                            amet, consectetur adipiscing elit. Proin ut felis est. Aliquam
                                                            erat volutpat. Vestibulum a enim ut tellus ultricies molestie.
                                                            Duis egestas quam nec arcu blandit vehicula nec mattis
                                                            sem. Lorem ipsum dolor sit amet, consectetur.
                                                        </p>
                                                    </div>
                                                    <br />
                                                </td>
                                                <td style="padding-left:15px;padding-right:15px;" >
                                                    <img  src="https://s3.amazonaws.com/layoutImages/example-135x115.png" width="135" height="115" alt="">
                                                    <br />
                                                    <div class="editableBlock" style="font-size: 15px;color:#597DB3;" data-sm-i="Font - Headlines" data-sm-s="color">
                                                        <h2>
                                                            News Item
                                                        </h2>
                                                    </div>
                                                    <div class="editableBlock" style="font-size: 15px;line-height:120%;color:#535353;font-family: arial, helvetica, sans-serif;" data-sm-i="Font - Main" data-sm-s="color">
                                                        <p>
                                                            This section is great for your news story.
                                                            <br/><br/>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Proin ut felis est. Aliquam erat volutpat. Vestibulum a enim
                                                            ut tellus ultricies molestie. Duis egestas quam nec arcu
                                                            blandit vehicula nec mattis sem.Lorem ipsum dolor sit
                                                            amet, consectetur adipiscing elit. Proin ut felis est. Aliquam
                                                            erat volutpat. Vestibulum a enim ut tellus ultricies molestie.
                                                            Duis egestas quam nec arcu blandit vehicula nec mattis
                                                            sem. Lorem ipsum dolor sit amet, consectetur.
                                                        </p>
                                                    </div>
                                                    <br />
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <hr width="100%" border=0 style="border:none; background-color:#87A8D9; height: 3px; padding:0px;margin:0px;" data-sm-i="Line Color" data-sm-s="background-color"/>
                                        <!-- Footer text-->
                                        <div class="editableBlock" style="font-size: 12px;color:#818181;font-family: arial, helvetica, sans-serif;" data-sm-i="Font - Footer" data-sm-s="color">
                                            <p>
                                                <i>The footer message goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Proin ut felis est. Aliquam erat volutpat.</i>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <br />
            </td>
        </tr>
        </tbody>
    </center>
</table>