<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" >
    <title></title>
</head>
<body bgcolor="#CCCCCB">
<div style="font-family: arial, helvetica, sans-serif; background-color:#CCCCCB; width:100%; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px; padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; position:relative;" data-sm-i="Background Color" data-sm-s="background-color">
    <br/>
<center>
    <div class="editableBlock" style="margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0px; padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;">
        <!-- Major header text-->
        <h1 style="padding:0px; margin:0px;">
            <span style="color:#2C2C2C;">
            <span style="font-family: arial, helvetica, sans-serif;">
            <i>Major Text</i>
            </span>
            </span>
        </h1>
    </div>
    <!-- Main email area container-->
    <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="background-color:#CCCCCB; margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0px; padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; display:block;" data-sm-i="Background Color" data-sm-s="background-color">
        <tr align="center" valign="top" bgcolor="#CCCCCB" style="background-color:#CCCCCB; width:100%" data-sm-i="Background Color" data-sm-s="background-color">
            <td align="center" style="background-color:#CCCCCB; width:100%" data-sm-i="Background Color" data-sm-s="background-color">
               <!-- Begin actual email container-->
                <table width="90%" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" data-sm-i="Header and Footer Color" data-sm-a="bgcolor">
                    <tbody>
                    <tr bgcolor="#FFFFFF" data-sm-i="Header Color - Override Option" data-sm-a="bgcolor">
                        <td></td>
                        <td align="center" data-sm-i="Header Font Color" data-sm-s="color">
                            <!-- Main image area-->
                            <div class="editableBlock">
                            <img  src="https://s3.amazonaws.com/layoutImages/example-525x213.png" width="525" height="213" alt="${displayname}" style="display:block;">
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <!-- Banner for emphasized text-->
                    <tr valign="middle" bgcolor="#ACACAC" data-sm-i="Banner Color" data-sm-a="bgcolor">
                        <td align="center" bgcolor="#ACACAC" style="margin-left:0px; margin-right:0px;" data-sm-i="Banner Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/50pxSpacer.gif" width="50" height="50" alt="spacer" style="display:block;">
                        </td>
                        <td valign="middle" align="center" bgcolor="#ACACAC" style="margin-left:0px; margin-right:0px;" data-sm-i="Banner Color" data-sm-a="bgcolor">
                            <!-- Banner text -->
                            <div class="editableBlock">
                            <p>
                                <span style="font-size: 18px;">
                                <span style="color:#FFFFFF;">
                                <span style="font-family: arial, helvetica, sans-serif;">
                                    <b><i>You could use this section for a tag line, subtitle, or any other text you wish to emphasize.</i></b>
                                </span>
                                </span>
                                </span>
                            </p>
                            </div>
                        </td>
                        <td align="center" bgcolor="#ACACAC" style="margin-left:0px; margin-right:0px;" data-sm-i="Banner Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/50pxSpacer.gif" width="50" height="50" alt="spacer" style="display:block;">
                        </td>
                    </tr>
                    <!-- Main body of email-->
                    <!-- Spacers to hold top and side margins consistently-->
                    <tr data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                        <td align="center" bgcolor="#404040" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                        </td>
                        <td align="center" bgcolor="#404040" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                        </td>
                        <td align="center" bgcolor="#404040" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                        </td>
                    </tr>
                    <tr bgcolor="#404040" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                        <td align="center" bgcolor="#404040" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/50pxSpacer.gif" width="50" height="50" alt="spacer" style="display:block;">
                        </td>
                        <!-- Main body text-->
                        <td align="left" bgcolor="#404040" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <div class="editableBlock">
                            <p>
                            <span style="font-size: 15px;">
                            <span style="line-height:120%;">
                            <span style="color:#FFFFFF;">
                            <span style="font-family: arial, helvetica, sans-serif;">
                                This section will contain the body text of the email.
                            <br/><br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Proin ut felis est. Aliquam erat volutpat. Vestibulum a enim
                                ut tellus ultricies molestie. Duis egestas quam nec arcu
                                blandit vehicula nec mattis sem.Lorem ipsum dolor sit
                                amet, consectetur adipiscing elit. Proin ut felis est. Aliquam
                                erat volutpat. Vestibulum a enim ut tellus ultricies molestie.
                                Duis egestas quam nec arcu blandit vehicula nec mattis
                                sem. Lorem ipsum dolor sit amet, consectetur.
                            </span>
                            </span>
                            </span>
                            </span>
                            </p>
                            </div>
                        </td>
                        <td align="center" bgcolor="#404040" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/50pxSpacer.gif" width="50" height="50" alt="${displayname}" style="display:block;">
                        </td>
                    </tr>
                    <!-- Padding under text.-->
                    <tr valign="top" bgcolor="#404040" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                        <td align="center" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                        </td>
                        <td align="center" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                        </td>
                        <td align="center" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                        </td>
                    </tr>
                    <!-- Row for button link. -->
                    <tr bgcolor="#404040" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                        <td align="center" bgcolor="#404040" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/50pxSpacer.gif" width="50" height="100%" alt="spacer" style="display:block;">
                        </td>
                        <td align="center" bgcolor="#404040" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <!-- Button container -->
                            <table width="50%" cellpadding="0" cellspacing="0" align="center">
                                <tr valign="middle">
                                    <td align="center" valign="middle" bgcolor="#ACACAC" style="margin-left:0px; margin-right:0px;" data-sm-i="Button Color" data-sm-a="bgcolor">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                            <!-- Padding at the top of the button -->
                                            <tr valign="bottom">
                                                <td align="center" style="margin-left:0px; margin-right:0px;">
                                                    <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                                                </td>
                                                <td align="center" style="margin-left:0px; margin-right:0px;">
                                                    <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                                                </td>
                                                <td align="center" style="margin-left:0px; margin-right:0px;">
                                                    <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                                                </td>
                                            </tr>
                                            <!-- Button text area-->
                                            <tr valign="middle" align="center">
                                                <td style="margin-left:0px; margin-right:0px;">
                                                    <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                                                </td>
                                                <td valign="middle" align="center">
                                                    <div class="editableBlock">
                                                    <p>
                                                        <span style="font-size: 18px;">
                                                        <span style="color:#FFFFFF;">
                                                        <span style="font-family: arial, helvetica, sans-serif;">
                                                        <b>Add a useful link here.</b>
                                                        </span>
                                                        </span>
                                                        </span>
                                                    </p>
                                                    </div>
                                                </td>
                                                <td align="center" style="margin-left:0px; margin-right:0px;">
                                                    <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                                                </td>
                                            </tr>
                                            <!-- Padding at the bottom of the button-->
                                            <tr valign="top">
                                                <td style="margin-left:0px; margin-right:0px;">
                                                    <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                                                </td>
                                                <td style="margin-left:0px; margin-right:0px;">
                                                    <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                                                </td>
                                                <td style="margin-left:0px; margin-right:0px;">
                                                    <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>     <!-- End of button -->
                                    </td>
                                </tr>
                                <tr bgcolor="#404040" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                                    <td align="center" bgcolor="#404040" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                                        <img  src="https://s3.amazonaws.com/layoutImages/10pxSpacer.gif" width="10" height="10" alt="spacer" style="display:block;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td align="center" bgcolor="#404040" style="margin-left:0px; margin-right:0px;" data-sm-i="Main Content Background Color" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/50pxSpacer.gif" width="50" height="100%" alt="spacer" style="display:block;">
                        </td>
                    </tr>
                    <!-- Footer -->
                    <tr bgcolor="#FFFFFF" data-sm-i="Footer Color - Override Option" data-sm-a="bgcolor">
                        <td align="center" bgcolor="#FFFFFF" style="margin-left:0px; margin-right:0px;" data-sm-i="Footer Color - Override Option" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/50pxSpacer.gif" width="50" height="50" alt="spacer" style="display:block;">
                        </td>
                        <td align="left" bgcolor="#FFFFFF" style="margin-left:0px; margin-right:0px;display:block;" data-sm-i="Footer Color - Override Option" data-sm-a="bgcolor">
                            <!-- Footer text-->
                            <div class="editableBlock">
                            <p>
                            <span style="font-size: 15px;">
                            <span style="line-height:120%;">
                            <span style="color:#000000;">
                            <span style="font-family: arial, helvetica, sans-serif;">
                                <i>The footer message goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Proin ut felis est. Aliquam erat volutpat.</i>
                            </span>
                            </span>
                            </span>
                            </span>
                            </p>
                            </div>
                        </td>
                        <td align="center" bgcolor="#FFFFFF" style="margin-left:0px; margin-right:0px;" data-sm-i="Footer Color - Override Option" data-sm-a="bgcolor">
                            <img  src="https://s3.amazonaws.com/layoutImages/50pxSpacer.gif" width="50" height="50" alt="spacer" style="display:block;">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</center>
    <br/> <br/>
</div>
</body>
</html>