iframe::-webkit-scrollbar {
	display: none;
}
iframe.embedded {
	overflow-y: hidden;
}
ul.steps li.waiting{
	color:black;
}
ul.steps li.trying{
	color:blue;
}
ul.steps li.done{
	color:green;
}
ul.steps li.failed{
	background: #FFDDAB;
	color:darkred;
}